#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.weather-box {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 500ms, height 500ms;
}

.weather-box.show {
  opacity: 1;
  height: auto;
}

.active {
  text-decoration: underline;
}

.main-header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #ff6200, #f3aa6b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
