#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.weather-box {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1000ms, height 1000ms;
}

.weather-box.show {
  opacity: 1;
  height: auto;
}

.weather-box:hover {
  border: "3px solid orange";
}
